.LogoSearch{
    display: flex;
    gap: 0.75rem;
}

.logo-icon {
    width: 38px; 
    height: 38px;
    margin-right: 10px; 
}

.Search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}

.Search>input{
    background-color: transparent;
    border:none;
    outline: none;
}

.s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.23deg, #d35d75, #e69c88 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.s-icon:hover{
    cursor: pointer;
}